Node Red Virtual grandfather clock with intercom Flow
[{"id":"b3057c2c.ea195","type":"actionflows_in","z":"ef94ea69.ab1658","name":"WaitIntercom","priority":"50","links":[],"scope":"global","x":90,"y":1040,"wires":[["36c4c718.69ab48"]]},{"id":"b2ef40b.90650c","type":"comment","z":"ef94ea69.ab1658","name":"Wait for intercom to not be busy","info":"","x":150,"y":1000,"wires":[]},{"id":"36c4c718.69ab48","type":"api-current-state","z":"ef94ea69.ab1658","name":"Living Room Busy?","server":"ec3ddc63.4af1d","version":1,"outputs":2,"halt_if":"playing","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"media_player.living_room_speaker","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":310,"y":1040,"wires":[["938f66d4.e486a8"],["bd66453c.1b3908"]]},{"id":"938f66d4.e486a8","type":"delay","z":"ef94ea69.ab1658","name":"Random Delay","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"500","randomLast":"1500","randomUnits":"milliseconds","drop":false,"x":280,"y":1100,"wires":[["36c4c718.69ab48"]]},{"id":"bd66453c.1b3908","type":"actionflows_out","z":"ef94ea69.ab1658","name":"WaitIntercom","links":[],"x":540,"y":1040,"wires":[]},{"id":"aed94792.5ceff8","type":"comment","z":"ef94ea69.ab1658","name":"Virtual grandfather clock","info":"","x":110,"y":1440,"wires":[]},{"id":"88805c9.a409ca","type":"inject","z":"ef94ea69.ab1658","name":"","topic":"Tick Tock","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":1520,"wires":[["f60c5383.9fa74"]]},{"id":"69473e0d.3fd1","type":"moment","z":"ef94ea69.ab1658","name":"","topic":"","input":"","inputType":"msg","inTz":"America/Detroit","adjAmount":0,"adjType":"days","adjDir":"add","format":"object","locale":"en_US","output":"","outputType":"msg","outTz":"America/Detroit","x":140,"y":1640,"wires":[["8f8d1c21.fcef"]]},{"id":"f60c5383.9fa74","type":"time-range-switch","z":"ef94ea69.ab1658","name":"Waking hours only","lat":"","lon":"","startTime":"05:45","endTime":"22:15","startOffset":0,"endOffset":0,"x":130,"y":1580,"wires":[["69473e0d.3fd1"],[]]},{"id":"8f8d1c21.fcef","type":"switch","z":"ef94ea69.ab1658","name":"Quarter hour?","property":"payload.minutes","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"15","vt":"num"},{"t":"eq","v":"30","vt":"str"},{"t":"eq","v":"45","vt":"str"}],"checkall":"false","repair":false,"outputs":4,"x":140,"y":1720,"wires":[["32ff0d61.c25342"],["51b931dc.c2df7"],["f6521a21.3a4478"],["49e13861.322428"]]},{"id":"991fd61f.c38b98","type":"inject","z":"ef94ea69.ab1658","name":"Test ","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":1960,"wires":[["49e13861.322428"]]},{"id":"49e13861.322428","type":"change","z":"ef94ea69.ab1658","name":"Play three-quarters hour","rules":[{"t":"set","p":"url","pt":"msg","to":"https://retired.sounddogs.com/previews/2106/mp3/277995_SOUNDDOGS__cl.mp3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":1920,"wires":[["3532cc5b.a060e4"]]},{"id":"f6521a21.3a4478","type":"change","z":"ef94ea69.ab1658","name":"Play half hour","rules":[{"t":"set","p":"url","pt":"msg","to":"https://retired.sounddogs.com/previews/2106/mp3/277994_SOUNDDOGS__cl.mp3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":1880,"wires":[["3532cc5b.a060e4"]]},{"id":"51b931dc.c2df7","type":"change","z":"ef94ea69.ab1658","name":"Play one-quarter hour","rules":[{"t":"set","p":"url","pt":"msg","to":"https://retired.sounddogs.com/previews/2106/mp3/277993_SOUNDDOGS__cl.mp3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":1840,"wires":[["3532cc5b.a060e4"]]},{"id":"32ff0d61.c25342","type":"switch","z":"ef94ea69.ab1658","name":"Hour?","property":"msg.payload.hours","propertyType":"msg","rules":[{"t":"eq","v":"6","vt":"str"},{"t":"eq","v":"7","vt":"str"},{"t":"eq","v":"8","vt":"str"},{"t":"eq","v":"9","vt":"str"},{"t":"eq","v":"10","vt":"str"},{"t":"eq","v":"11","vt":"str"},{"t":"eq","v":"12","vt":"str"},{"t":"eq","v":"13","vt":"str"},{"t":"eq","v":"14","vt":"num"},{"t":"eq","v":"15","vt":"str"},{"t":"eq","v":"16","vt":"str"},{"t":"eq","v":"17","vt":"str"},{"t":"eq","v":"18","vt":"str"},{"t":"eq","v":"19","vt":"str"},{"t":"eq","v":"20","vt":"str"},{"t":"eq","v":"21","vt":"str"},{"t":"eq","v":"22","vt":"str"}],"checkall":"false","repair":false,"outputs":17,"x":370,"y":1680,"wires":[["65470b35.1fb254"],["ccfc16da.ffe448"],["3e22fa6c.c98866"],["bdae5a9f.23f038"],["fba98946.6d1698"],["8ece8941.4a4c88"],["e56632.a32839d"],["a599364c.861568"],["12798f6e.f8a1c1"],["f8f15fd4.e28e2"],["d6534c79.e1802"],["c4dd3d27.05442"],["65470b35.1fb254"],["ccfc16da.ffe448"],["3e22fa6c.c98866"],["bdae5a9f.23f038"],["fba98946.6d1698"]]},{"id":"3532cc5b.a060e4","type":"actionflows","z":"ef94ea69.ab1658","info":"Describe your action API here.","untilproptype":"num","proptype":"msg","name":"WaitIntercom","prop":"loop","untilprop":0,"until":"gt","loop":"none","scope":"global","perf":false,"seq":false,"x":450,"y":2060,"wires":[["cdfa056f.a02e98"]]},{"id":"cdfa056f.a02e98","type":"api-call-service","z":"ef94ea69.ab1658","name":"Set volume 35%","server":"ec3ddc63.4af1d","version":1,"debugenabled":false,"service_domain":"media_player","service":"volume_set","entityId":"media_player.living_room_speaker","data":"{\"volume_level\":\"0.35\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":700,"y":2040,"wires":[["5b177858.f6cc68"]]},{"id":"5b177858.f6cc68","type":"cast-to-client","z":"ef94ea69.ab1658","name":"Living Room Speaker","url":"","contentType":"","message":"","language":"en","ip":"10.96.76.132","port":"8009","volume":"","x":1020,"y":2020,"wires":[[]]},{"id":"bdae5a9f.23f038","type":"change","z":"ef94ea69.ab1658","name":"9","rules":[{"t":"set","p":"url","pt":"msg","to":"https://retired.sounddogs.com/previews/2106/mp3/278004_SOUNDDOGS__cl.mp3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":546.1284790039062,"y":1897.0104064941406,"wires":[["3532cc5b.a060e4"]]},{"id":"3e22fa6c.c98866","type":"change","z":"ef94ea69.ab1658","name":"8","rules":[{"t":"set","p":"url","pt":"msg","to":"https://retired.sounddogs.com/previews/2106/mp3/278003_SOUNDDOGS__cl.mp3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":1860,"wires":[["3532cc5b.a060e4"]]},{"id":"ccfc16da.ffe448","type":"change","z":"ef94ea69.ab1658","name":"7","rules":[{"t":"set","p":"url","pt":"msg","to":"https://retired.sounddogs.com/previews/2106/mp3/278002_SOUNDDOGS__cl.mp3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":1820,"wires":[["3532cc5b.a060e4"]]},{"id":"65470b35.1fb254","type":"change","z":"ef94ea69.ab1658","name":"6","rules":[{"t":"set","p":"url","pt":"msg","to":"https://retired.sounddogs.com/previews/2106/mp3/278001_SOUNDDOGS__cl.mp3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":1780,"wires":[["3532cc5b.a060e4"]]},{"id":"c4dd3d27.05442","type":"change","z":"ef94ea69.ab1658","name":"5","rules":[{"t":"set","p":"url","pt":"msg","to":"https://retired.sounddogs.com/previews/2106/mp3/278000_SOUNDDOGS__cl.mp3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":1740,"wires":[["3532cc5b.a060e4"]]},{"id":"d6534c79.e1802","type":"change","z":"ef94ea69.ab1658","name":"4","rules":[{"t":"set","p":"url","pt":"msg","to":"https://retired.sounddogs.com/previews/2106/mp3/277999_SOUNDDOGS__cl.mp3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":546.1284790039062,"y":1697.0104064941406,"wires":[["3532cc5b.a060e4"]]},{"id":"f8f15fd4.e28e2","type":"change","z":"ef94ea69.ab1658","name":"3","rules":[{"t":"set","p":"url","pt":"msg","to":"https://retired.sounddogs.com/previews/2106/mp3/277998_SOUNDDOGS__cl.mp3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":1660,"wires":[["3532cc5b.a060e4"]]},{"id":"12798f6e.f8a1c1","type":"change","z":"ef94ea69.ab1658","name":"2","rules":[{"t":"set","p":"url","pt":"msg","to":"https://retired.sounddogs.com/previews/2106/mp3/277997_SOUNDDOGS__cl.mp3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":1620,"wires":[["3532cc5b.a060e4"]]},{"id":"a599364c.861568","type":"change","z":"ef94ea69.ab1658","name":"1","rules":[{"t":"set","p":"url","pt":"msg","to":"https://retired.sounddogs.com/previews/2106/mp3/277996_SOUNDDOGS__cl.mp3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":1580,"wires":[["3532cc5b.a060e4"]]},{"id":"e56632.a32839d","type":"change","z":"ef94ea69.ab1658","name":"12","rules":[{"t":"set","p":"url","pt":"msg","to":"https://retired.sounddogs.com/previews/2106/mp3/278007_SOUNDDOGS__cl.mp3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":1540,"wires":[["3532cc5b.a060e4"]]},{"id":"8ece8941.4a4c88","type":"change","z":"ef94ea69.ab1658","name":"11 ","rules":[{"t":"set","p":"url","pt":"msg","to":"https://retired.sounddogs.com/previews/2106/mp3/278006_SOUNDDOGS__cl.mp3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":1500,"wires":[["3532cc5b.a060e4"]]},{"id":"fba98946.6d1698","type":"change","z":"ef94ea69.ab1658","name":"10","rules":[{"t":"set","p":"url","pt":"msg","to":"https://retired.sounddogs.com/previews/2106/mp3/278005_SOUNDDOGS__cl.mp3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":1460,"wires":[["3532cc5b.a060e4"]]},{"id":"ec3ddc63.4af1d","type":"server","z":"","name":"Home Assistant","legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":false,"cacheJson":true}]
