Node Red Hassio Google Home Weather Updates
[{"id":"d76d97.2fac3268","type":"server-state-changed","z":"ef94ea69.ab1658","name":"","server":"ec3ddc63.4af1d","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.dark_sky_minutely_summary","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":190,"y":2300,"wires":[["85acf7ee.942fd8"]]},{"id":"85acf7ee.942fd8","type":"switch","z":"ef94ea69.ab1658","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"Possible","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":2300,"wires":[[],["f3cac2f7.42508"]]},{"id":"f3cac2f7.42508","type":"change","z":"ef94ea69.ab1658","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"min.","fromt":"str","to":"min","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":2320,"wires":[["2326e306.ae1c1c"]]},{"id":"2326e306.ae1c1c","type":"time-range-switch","z":"ef94ea69.ab1658","name":"Waking hours only","lat":"","lon":"","startTime":"06:45","endTime":"22:15","startOffset":0,"endOffset":0,"x":930,"y":2320,"wires":[["47863a62.5941a4"],[]]},{"id":"47863a62.5941a4","type":"actionflows","z":"ef94ea69.ab1658","info":"Describe your action API here.","untilproptype":"num","proptype":"msg","name":"WaitIntercom","prop":"loop","untilprop":0,"until":"gt","loop":"none","scope":"global","perf":false,"seq":false,"x":590,"y":2160,"wires":[["8445f7ce.ae9a98"]]},{"id":"8445f7ce.ae9a98","type":"api-call-service","z":"ef94ea69.ab1658","name":"Set volume 60%","server":"ec3ddc63.4af1d","version":1,"debugenabled":false,"service_domain":"media_player","service":"volume_set","entityId":"media_player.living_room_speaker","data":"{\"volume_level\":\"0.60\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":760,"y":2100,"wires":[["5b177858.f6cc68"]]},{"id":"5b177858.f6cc68","type":"cast-to-client","z":"ef94ea69.ab1658","name":"Living Room Speaker","url":"","contentType":"","message":"","language":"en","ip":"10.96.76.132","port":"8009","volume":"","x":1020,"y":2020,"wires":[[]]},{"id":"ec3ddc63.4af1d","type":"server","z":"","name":"Home Assistant","legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":false,"cacheJson":true}]
