Node Red Virtual grandfather clock with intercom Flow
[{"id":"847f0210.a3e91","type":"actionflows_in","z":"28a0e125.e9aabe","name":"WaitIntercom","priority":"50","links":[],"scope":"global","x":130,"y":120,"wires":[["9dd42e60.2d476"]]},{"id":"364ef895.5d3658","type":"comment","z":"28a0e125.e9aabe","name":"Wait for intercom to not be busy","info":"","x":190,"y":80,"wires":[]},{"id":"9dd42e60.2d476","type":"api-current-state","z":"28a0e125.e9aabe","name":"Living Room Busy?","server":"14ac7daa.46bd22","version":1,"outputs":2,"halt_if":"playing","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"media_player.living_room_speaker","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":350,"y":120,"wires":[["43e681d1.b41f6"],["cae4fe29.e1985"]]},{"id":"43e681d1.b41f6","type":"delay","z":"28a0e125.e9aabe","name":"Random Delay","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"500","randomLast":"1500","randomUnits":"milliseconds","drop":false,"x":320,"y":180,"wires":[["9dd42e60.2d476"]]},{"id":"cae4fe29.e1985","type":"actionflows_out","z":"28a0e125.e9aabe","name":"WaitIntercom","links":[],"x":580,"y":120,"wires":[]},{"id":"bfb58a6d.afacb8","type":"comment","z":"28a0e125.e9aabe","name":"Virtual grandfather clock","info":"","x":130,"y":240,"wires":[]},{"id":"72c00e5.f3703f","type":"inject","z":"28a0e125.e9aabe","name":"","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"Tick Tock","payload":"","payloadType":"date","x":140,"y":280,"wires":[["40ebc77a.a0e948"]]},{"id":"c24918f5.df5348","type":"moment","z":"28a0e125.e9aabe","name":"","topic":"","input":"","inputType":"msg","inTz":"America/Detroit","adjAmount":0,"adjType":"days","adjDir":"add","format":"object","locale":"en_US","output":"","outputType":"msg","outTz":"America/Detroit","x":140,"y":520,"wires":[["facf74bd.67b6d8"]]},{"id":"66377d47.3dd824","type":"time-range-switch","z":"28a0e125.e9aabe","name":"Waking hours only","lat":"","lon":"","startTime":"05:45","endTime":"22:15","startOffset":0,"endOffset":0,"x":150,"y":460,"wires":[["c24918f5.df5348"],[]]},{"id":"facf74bd.67b6d8","type":"switch","z":"28a0e125.e9aabe","name":"Quarter hour?","property":"payload.minutes","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"15","vt":"num"},{"t":"eq","v":"30","vt":"str"},{"t":"eq","v":"45","vt":"str"}],"checkall":"false","repair":false,"outputs":4,"x":140,"y":580,"wires":[["3b0ef22f.da9eee"],["125c5993.f63396"],["3ed86b08.fa8234"],["e5001880.327a38"]]},{"id":"5fc48387.19c3ec","type":"inject","z":"28a0e125.e9aabe","name":"Test ","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":760,"wires":[["e5001880.327a38"]]},{"id":"e5001880.327a38","type":"change","z":"28a0e125.e9aabe","name":"Play three-quarters hour","rules":[{"t":"set","p":"url","pt":"msg","to":"https://retired.sounddogs.com/previews/2106/mp3/277995_SOUNDDOGS__cl.mp3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":720,"wires":[["735e76b4.a634d8"]]},{"id":"3ed86b08.fa8234","type":"change","z":"28a0e125.e9aabe","name":"Play half hour","rules":[{"t":"set","p":"url","pt":"msg","to":"https://retired.sounddogs.com/previews/2106/mp3/277994_SOUNDDOGS__cl.mp3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":680,"wires":[["735e76b4.a634d8"]]},{"id":"125c5993.f63396","type":"change","z":"28a0e125.e9aabe","name":"Play one-quarter hour","rules":[{"t":"set","p":"url","pt":"msg","to":"https://retired.sounddogs.com/previews/2106/mp3/277993_SOUNDDOGS__cl.mp3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":640,"wires":[["735e76b4.a634d8"]]},{"id":"3b0ef22f.da9eee","type":"switch","z":"28a0e125.e9aabe","name":"Hour?","property":"msg.payload.hours","propertyType":"msg","rules":[{"t":"eq","v":"6","vt":"str"},{"t":"eq","v":"7","vt":"str"},{"t":"eq","v":"8","vt":"str"},{"t":"eq","v":"9","vt":"str"},{"t":"eq","v":"10","vt":"str"},{"t":"eq","v":"11","vt":"str"},{"t":"eq","v":"12","vt":"str"},{"t":"eq","v":"13","vt":"str"},{"t":"eq","v":"14","vt":"num"},{"t":"eq","v":"15","vt":"str"},{"t":"eq","v":"16","vt":"str"},{"t":"eq","v":"17","vt":"str"},{"t":"eq","v":"18","vt":"str"},{"t":"eq","v":"19","vt":"str"},{"t":"eq","v":"20","vt":"str"},{"t":"eq","v":"21","vt":"str"},{"t":"eq","v":"22","vt":"str"}],"checkall":"false","repair":false,"outputs":17,"x":390,"y":480,"wires":[["34093a77.cfc866"],["c95d7ce.e6eb78"],["31d02a9.6b575d6"],["e97160f8.50157"],["90a86205.90be8"],["646788b6.0189b8"],["f65f10c5.166ff"],["c88a7f80.6968f"],["5c53429d.02af9c"],["54c1c0ff.53fda"],["46bd0a3f.f27bc4"],["6d2880ab.fbba2"],["34093a77.cfc866"],["c95d7ce.e6eb78"],["31d02a9.6b575d6"],["e97160f8.50157"],["90a86205.90be8"]]},{"id":"735e76b4.a634d8","type":"actionflows","z":"28a0e125.e9aabe","info":"Describe your action API here.","untilproptype":"num","proptype":"msg","name":"WaitIntercom","prop":"loop","untilprop":0,"until":"gt","loop":"none","scope":"global","perf":false,"seq":false,"x":470,"y":860,"wires":[["2b369ac7.a13e36"]]},{"id":"2b369ac7.a13e36","type":"api-call-service","z":"28a0e125.e9aabe","name":"Set volume 35%","server":"14ac7daa.46bd22","version":1,"debugenabled":false,"service_domain":"media_player","service":"volume_set","entityId":"media_player.living_room_speaker","data":"{\"volume_level\":\"0.35\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":740,"y":860,"wires":[["15e527e.9f583d8"]]},{"id":"e97160f8.50157","type":"change","z":"28a0e125.e9aabe","name":"9","rules":[{"t":"set","p":"url","pt":"msg","to":"https://retired.sounddogs.com/previews/2106/mp3/278004_SOUNDDOGS__cl.mp3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":566.1284790039062,"y":697.0104064941406,"wires":[["735e76b4.a634d8"]]},{"id":"31d02a9.6b575d6","type":"change","z":"28a0e125.e9aabe","name":"8","rules":[{"t":"set","p":"url","pt":"msg","to":"https://retired.sounddogs.com/previews/2106/mp3/278003_SOUNDDOGS__cl.mp3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":660,"wires":[["735e76b4.a634d8"]]},{"id":"c95d7ce.e6eb78","type":"change","z":"28a0e125.e9aabe","name":"7","rules":[{"t":"set","p":"url","pt":"msg","to":"https://retired.sounddogs.com/previews/2106/mp3/278002_SOUNDDOGS__cl.mp3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":620,"wires":[["735e76b4.a634d8"]]},{"id":"34093a77.cfc866","type":"change","z":"28a0e125.e9aabe","name":"6","rules":[{"t":"set","p":"url","pt":"msg","to":"https://retired.sounddogs.com/previews/2106/mp3/278001_SOUNDDOGS__cl.mp3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":580,"wires":[["735e76b4.a634d8"]]},{"id":"6d2880ab.fbba2","type":"change","z":"28a0e125.e9aabe","name":"5","rules":[{"t":"set","p":"url","pt":"msg","to":"https://retired.sounddogs.com/previews/2106/mp3/278000_SOUNDDOGS__cl.mp3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":540,"wires":[["735e76b4.a634d8"]]},{"id":"46bd0a3f.f27bc4","type":"change","z":"28a0e125.e9aabe","name":"4","rules":[{"t":"set","p":"url","pt":"msg","to":"https://retired.sounddogs.com/previews/2106/mp3/277999_SOUNDDOGS__cl.mp3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":566.1284790039062,"y":497.0104064941406,"wires":[["735e76b4.a634d8"]]},{"id":"54c1c0ff.53fda","type":"change","z":"28a0e125.e9aabe","name":"3","rules":[{"t":"set","p":"url","pt":"msg","to":"https://retired.sounddogs.com/previews/2106/mp3/277998_SOUNDDOGS__cl.mp3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":460,"wires":[["735e76b4.a634d8"]]},{"id":"5c53429d.02af9c","type":"change","z":"28a0e125.e9aabe","name":"2","rules":[{"t":"set","p":"url","pt":"msg","to":"https://retired.sounddogs.com/previews/2106/mp3/277997_SOUNDDOGS__cl.mp3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":420,"wires":[["735e76b4.a634d8"]]},{"id":"c88a7f80.6968f","type":"change","z":"28a0e125.e9aabe","name":"1","rules":[{"t":"set","p":"url","pt":"msg","to":"https://retired.sounddogs.com/previews/2106/mp3/277996_SOUNDDOGS__cl.mp3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":380,"wires":[["735e76b4.a634d8"]]},{"id":"f65f10c5.166ff","type":"change","z":"28a0e125.e9aabe","name":"12","rules":[{"t":"set","p":"url","pt":"msg","to":"https://retired.sounddogs.com/previews/2106/mp3/278007_SOUNDDOGS__cl.mp3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":340,"wires":[["735e76b4.a634d8"]]},{"id":"646788b6.0189b8","type":"change","z":"28a0e125.e9aabe","name":"11 ","rules":[{"t":"set","p":"url","pt":"msg","to":"https://retired.sounddogs.com/previews/2106/mp3/278006_SOUNDDOGS__cl.mp3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":300,"wires":[["735e76b4.a634d8"]]},{"id":"90a86205.90be8","type":"change","z":"28a0e125.e9aabe","name":"10","rules":[{"t":"set","p":"url","pt":"msg","to":"https://retired.sounddogs.com/previews/2106/mp3/278005_SOUNDDOGS__cl.mp3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":260,"wires":[["735e76b4.a634d8"]]},{"id":"a4d305ab.b98a38","type":"comment","z":"28a0e125.e9aabe","name":"Keep Chromecast Audio awake","info":"","x":830,"y":120,"wires":[]},{"id":"14c3c680.c8f51a","type":"inject","z":"28a0e125.e9aabe","name":"Fire every 2 minutes","repeat":"120","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":800,"y":180,"wires":[["39281496.eb80dc"]]},{"id":"6eee67be.8f0a58","type":"api-call-service","z":"28a0e125.e9aabe","name":"Play 2 seconds of silence","server":"14ac7daa.46bd22","version":1,"debugenabled":false,"service_domain":"media_player","service":"play_media","entityId":"media_player.living_room_speaker","data":"{\"media_content_type\":\"music\",\"media_content_id\":\"https://raw.githubusercontent.com/anars/blank-audio/master/2-seconds-of-silence.mp3\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1470,"y":160,"wires":[[]]},{"id":"875ac3fb.6763a","type":"api-current-state","z":"28a0e125.e9aabe","name":"Check Busy","server":"14ac7daa.46bd22","version":1,"outputs":2,"halt_if":"playing","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"media_player.living_room_speaker","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":1250,"y":160,"wires":[[],["6eee67be.8f0a58"]]},{"id":"e82bf9b4.c1a3c8","type":"api-call-service","z":"28a0e125.e9aabe","name":"Turn Chromecast Audio on","server":"14ac7daa.46bd22","version":1,"debugenabled":false,"service_domain":"media_player","service":"turn_on","entityId":"media_player.living_room_speaker","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1300,"y":220,"wires":[[]]},{"id":"801ccfad.bdaa7","type":"debug","z":"28a0e125.e9aabe","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"auto","x":1010,"y":640,"wires":[]},{"id":"15e527e.9f583d8","type":"function","z":"28a0e125.e9aabe","name":"","func":"let m = msg.payload\nlet url = msg.url;\nnewmsg = {}\nnewmsg.payload = { data:{ \"media_content_type\":\"music\", \"media_content_id\":url}}\nreturn newmsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":740,"wires":[["6017944f.bb2c6c"]]},{"id":"6017944f.bb2c6c","type":"api-call-service","z":"28a0e125.e9aabe","name":"Play 2 seconds of silence","server":"14ac7daa.46bd22","version":1,"debugenabled":false,"service_domain":"media_player","service":"play_media","entityId":"media_player.living_room_speaker","data":"{}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1150,"y":740,"wires":[["801ccfad.bdaa7"]]},{"id":"40ebc77a.a0e948","type":"api-current-state","z":"28a0e125.e9aabe","name":"Living Room Busy?","server":"14ac7daa.46bd22","version":1,"outputs":2,"halt_if":"unavalible","halt_if_type":"str","halt_if_compare":"is_not","override_topic":false,"entity_id":"weather.weather","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":130,"y":380,"wires":[["66377d47.3dd824"],[]]},{"id":"39281496.eb80dc","type":"api-current-state","z":"28a0e125.e9aabe","name":"Living Room Busy?","server":"14ac7daa.46bd22","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"media_player.living_room_speaker","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":1010,"y":180,"wires":[["e82bf9b4.c1a3c8"],["875ac3fb.6763a"]]},{"id":"14ac7daa.46bd22","type":"server","z":"","name":"Home Assistant","addon":true}]
