Node Red Virtual grandfather clock with intercom Flow
[{"id":"847f0210.a3e91","type":"actionflows_in","z":"28a0e125.e9aabe","name":"WaitIntercom","priority":"50","links":[],"scope":"global","x":130,"y":120,"wires":[["9dd42e60.2d476"]]},{"id":"364ef895.5d3658","type":"comment","z":"28a0e125.e9aabe","name":"Wait for intercom to not be busy","info":"","x":190,"y":80,"wires":[]},{"id":"9dd42e60.2d476","type":"api-current-state","z":"28a0e125.e9aabe","name":"Living Room Busy?","server":"14ac7daa.46bd22","version":1,"outputs":2,"halt_if":"playing","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"media_player.living_room_speaker","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":350,"y":120,"wires":[["43e681d1.b41f6"],["cae4fe29.e1985"]]},{"id":"43e681d1.b41f6","type":"delay","z":"28a0e125.e9aabe","name":"Random Delay","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"500","randomLast":"1500","randomUnits":"milliseconds","drop":false,"x":320,"y":180,"wires":[["9dd42e60.2d476"]]},{"id":"cae4fe29.e1985","type":"actionflows_out","z":"28a0e125.e9aabe","name":"WaitIntercom","links":[],"x":580,"y":120,"wires":[]},{"id":"bfb58a6d.afacb8","type":"comment","z":"28a0e125.e9aabe","name":"Virtual grandfather clock","info":"","x":170,"y":420,"wires":[]},{"id":"72c00e5.f3703f","type":"inject","z":"28a0e125.e9aabe","name":"","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"Tick Tock","payload":"","payloadType":"date","x":180,"y":460,"wires":[["974b2985.4b9e48"]]},{"id":"c24918f5.df5348","type":"moment","z":"28a0e125.e9aabe","name":"","topic":"","input":"","inputType":"msg","inTz":"America/Detroit","adjAmount":0,"adjType":"days","adjDir":"add","format":"object","locale":"en_US","output":"","outputType":"msg","outTz":"America/Detroit","x":180,"y":700,"wires":[["facf74bd.67b6d8"]]},{"id":"66377d47.3dd824","type":"time-range-switch","z":"28a0e125.e9aabe","name":"Waking hours only","lat":"","lon":"","startTime":"06:45","endTime":"22:37","startOffset":0,"endOffset":0,"x":190,"y":640,"wires":[["c24918f5.df5348"],[]]},{"id":"facf74bd.67b6d8","type":"switch","z":"28a0e125.e9aabe","name":"Quarter hour?","property":"payload.minutes","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"15","vt":"num"},{"t":"eq","v":"30","vt":"str"},{"t":"eq","v":"45","vt":"str"}],"checkall":"false","repair":false,"outputs":4,"x":180,"y":760,"wires":[["3b0ef22f.da9eee"],["125c5993.f63396"],["3ed86b08.fa8234"],["e5001880.327a38"]]},{"id":"5fc48387.19c3ec","type":"inject","z":"28a0e125.e9aabe","name":"Test ","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":1140,"wires":[["58e770b8.32669"]]},{"id":"e5001880.327a38","type":"change","z":"28a0e125.e9aabe","name":"Play three-quarters hour","rules":[{"t":"set","p":"url","pt":"msg","to":"https://retired.sounddogs.com/previews/2106/mp3/277995_SOUNDDOGS__cl.mp3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":900,"wires":[["735e76b4.a634d8"]]},{"id":"3ed86b08.fa8234","type":"change","z":"28a0e125.e9aabe","name":"Play half hour","rules":[{"t":"set","p":"url","pt":"msg","to":"https://retired.sounddogs.com/previews/2106/mp3/277994_SOUNDDOGS__cl.mp3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":860,"wires":[["735e76b4.a634d8"]]},{"id":"125c5993.f63396","type":"change","z":"28a0e125.e9aabe","name":"Play one-quarter hour","rules":[{"t":"set","p":"url","pt":"msg","to":"https://retired.sounddogs.com/previews/2106/mp3/277993_SOUNDDOGS__cl.mp3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":820,"wires":[["735e76b4.a634d8"]]},{"id":"3b0ef22f.da9eee","type":"switch","z":"28a0e125.e9aabe","name":"Hour?","property":"msg.payload.hours","propertyType":"msg","rules":[{"t":"eq","v":"6","vt":"str"},{"t":"eq","v":"7","vt":"str"},{"t":"eq","v":"8","vt":"str"},{"t":"eq","v":"9","vt":"str"},{"t":"eq","v":"10","vt":"str"},{"t":"eq","v":"11","vt":"str"},{"t":"eq","v":"12","vt":"str"},{"t":"eq","v":"13","vt":"str"},{"t":"eq","v":"14","vt":"num"},{"t":"eq","v":"15","vt":"str"},{"t":"eq","v":"16","vt":"str"},{"t":"eq","v":"17","vt":"str"},{"t":"eq","v":"18","vt":"str"},{"t":"eq","v":"19","vt":"str"},{"t":"eq","v":"20","vt":"str"},{"t":"eq","v":"21","vt":"str"},{"t":"eq","v":"22","vt":"str"}],"checkall":"false","repair":false,"outputs":17,"x":430,"y":660,"wires":[["34093a77.cfc866"],["c95d7ce.e6eb78"],["31d02a9.6b575d6"],["e97160f8.50157"],["90a86205.90be8"],["646788b6.0189b8"],["f65f10c5.166ff"],["c88a7f80.6968f"],["5c53429d.02af9c"],["54c1c0ff.53fda"],["46bd0a3f.f27bc4"],["6d2880ab.fbba2"],["34093a77.cfc866"],["c95d7ce.e6eb78"],["31d02a9.6b575d6"],["e97160f8.50157"],["90a86205.90be8"]]},{"id":"735e76b4.a634d8","type":"actionflows","z":"28a0e125.e9aabe","info":"Describe your action API here.","untilproptype":"num","proptype":"msg","name":"WaitIntercom","prop":"loop","untilprop":0,"until":"gt","loop":"none","scope":"global","perf":false,"seq":false,"x":510,"y":1040,"wires":[["2b369ac7.a13e36"]]},{"id":"2b369ac7.a13e36","type":"api-call-service","z":"28a0e125.e9aabe","name":"Set volume 35%","server":"14ac7daa.46bd22","version":1,"debugenabled":false,"service_domain":"media_player","service":"volume_set","entityId":"media_player.living_room_speaker","data":"{\"volume_level\":\"0.35\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":700,"y":1040,"wires":[["15e527e.9f583d8"]]},{"id":"e97160f8.50157","type":"change","z":"28a0e125.e9aabe","name":"9","rules":[{"t":"set","p":"url","pt":"msg","to":"https://retired.sounddogs.com/previews/2106/mp3/278004_SOUNDDOGS__cl.mp3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":606.1284790039062,"y":877.0104064941406,"wires":[["735e76b4.a634d8"]]},{"id":"31d02a9.6b575d6","type":"change","z":"28a0e125.e9aabe","name":"8","rules":[{"t":"set","p":"url","pt":"msg","to":"https://retired.sounddogs.com/previews/2106/mp3/278003_SOUNDDOGS__cl.mp3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":840,"wires":[["735e76b4.a634d8"]]},{"id":"c95d7ce.e6eb78","type":"change","z":"28a0e125.e9aabe","name":"7","rules":[{"t":"set","p":"url","pt":"msg","to":"https://retired.sounddogs.com/previews/2106/mp3/278002_SOUNDDOGS__cl.mp3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":800,"wires":[["735e76b4.a634d8"]]},{"id":"34093a77.cfc866","type":"change","z":"28a0e125.e9aabe","name":"6","rules":[{"t":"set","p":"url","pt":"msg","to":"https://retired.sounddogs.com/previews/2106/mp3/278001_SOUNDDOGS__cl.mp3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":760,"wires":[["735e76b4.a634d8"]]},{"id":"6d2880ab.fbba2","type":"change","z":"28a0e125.e9aabe","name":"5","rules":[{"t":"set","p":"url","pt":"msg","to":"https://retired.sounddogs.com/previews/2106/mp3/278000_SOUNDDOGS__cl.mp3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":720,"wires":[["735e76b4.a634d8"]]},{"id":"46bd0a3f.f27bc4","type":"change","z":"28a0e125.e9aabe","name":"4","rules":[{"t":"set","p":"url","pt":"msg","to":"https://retired.sounddogs.com/previews/2106/mp3/277999_SOUNDDOGS__cl.mp3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":606.1284790039062,"y":677.0104064941406,"wires":[["735e76b4.a634d8"]]},{"id":"54c1c0ff.53fda","type":"change","z":"28a0e125.e9aabe","name":"3","rules":[{"t":"set","p":"url","pt":"msg","to":"https://retired.sounddogs.com/previews/2106/mp3/277998_SOUNDDOGS__cl.mp3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":640,"wires":[["735e76b4.a634d8"]]},{"id":"5c53429d.02af9c","type":"change","z":"28a0e125.e9aabe","name":"2","rules":[{"t":"set","p":"url","pt":"msg","to":"https://retired.sounddogs.com/previews/2106/mp3/277997_SOUNDDOGS__cl.mp3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":600,"wires":[["735e76b4.a634d8"]]},{"id":"c88a7f80.6968f","type":"change","z":"28a0e125.e9aabe","name":"1","rules":[{"t":"set","p":"url","pt":"msg","to":"https://retired.sounddogs.com/previews/2106/mp3/277996_SOUNDDOGS__cl.mp3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":560,"wires":[["735e76b4.a634d8"]]},{"id":"f65f10c5.166ff","type":"change","z":"28a0e125.e9aabe","name":"12","rules":[{"t":"set","p":"url","pt":"msg","to":"https://retired.sounddogs.com/previews/2106/mp3/278007_SOUNDDOGS__cl.mp3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":520,"wires":[["735e76b4.a634d8"]]},{"id":"646788b6.0189b8","type":"change","z":"28a0e125.e9aabe","name":"11 ","rules":[{"t":"set","p":"url","pt":"msg","to":"https://retired.sounddogs.com/previews/2106/mp3/278006_SOUNDDOGS__cl.mp3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":480,"wires":[["735e76b4.a634d8"]]},{"id":"90a86205.90be8","type":"change","z":"28a0e125.e9aabe","name":"10","rules":[{"t":"set","p":"url","pt":"msg","to":"https://retired.sounddogs.com/previews/2106/mp3/278005_SOUNDDOGS__cl.mp3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":440,"wires":[["735e76b4.a634d8"]]},{"id":"a4d305ab.b98a38","type":"comment","z":"28a0e125.e9aabe","name":"Keep Chromecast Audio awake","info":"","x":170,"y":260,"wires":[]},{"id":"14c3c680.c8f51a","type":"inject","z":"28a0e125.e9aabe","name":"Fire every 2 minutes","repeat":"120","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":320,"wires":[["8fd2707c.a9968"]]},{"id":"6eee67be.8f0a58","type":"api-call-service","z":"28a0e125.e9aabe","name":"Play 2 seconds of silence","server":"14ac7daa.46bd22","version":1,"debugenabled":false,"service_domain":"media_player","service":"play_media","entityId":"media_player.living_room_speaker","data":"{\"media_content_type\":\"music\",\"media_content_id\":\"https://raw.githubusercontent.com/anars/blank-audio/master/2-seconds-of-silence.mp3\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1430,"y":340,"wires":[[]]},{"id":"875ac3fb.6763a","type":"api-current-state","z":"28a0e125.e9aabe","name":"Check Busy","server":"14ac7daa.46bd22","version":1,"outputs":2,"halt_if":"playing","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"media_player.living_room_speaker","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":1070,"y":340,"wires":[[],["8f4a27c8.ba4ba8"]]},{"id":"e82bf9b4.c1a3c8","type":"api-call-service","z":"28a0e125.e9aabe","name":"Turn Chromecast Audio on","server":"14ac7daa.46bd22","version":1,"debugenabled":false,"service_domain":"media_player","service":"turn_on","entityId":"media_player.living_room_speaker","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1120,"y":280,"wires":[[]]},{"id":"801ccfad.bdaa7","type":"debug","z":"28a0e125.e9aabe","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"auto","x":770,"y":1100,"wires":[]},{"id":"15e527e.9f583d8","type":"function","z":"28a0e125.e9aabe","name":"","func":"let m = msg.payload\nlet url = msg.url;\nnewmsg = {}\nnewmsg.payload = { data:{ \"media_content_type\":\"music\", \"media_content_id\":url}}\nreturn newmsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":1120,"wires":[["6017944f.bb2c6c"]]},{"id":"6017944f.bb2c6c","type":"api-call-service","z":"28a0e125.e9aabe","name":"speaker","server":"14ac7daa.46bd22","version":1,"debugenabled":false,"service_domain":"media_player","service":"play_media","entityId":"media_player.living_room_speaker","data":"{}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":580,"y":1120,"wires":[[]]},{"id":"39281496.eb80dc","type":"api-current-state","z":"28a0e125.e9aabe","name":"Living Room Busy?","server":"14ac7daa.46bd22","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"media_player.living_room_speaker","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":890,"y":320,"wires":[["e82bf9b4.c1a3c8"],["875ac3fb.6763a"]]},{"id":"fa9bb71b.e6e0b8","type":"time-range-switch","z":"28a0e125.e9aabe","name":"Waking hours only","lat":"","lon":"","startTime":"06:45","endTime":"22:37","startOffset":0,"endOffset":0,"x":690,"y":320,"wires":[["39281496.eb80dc"],[]]},{"id":"225d27c3.69a148","type":"api-current-state","z":"28a0e125.e9aabe","name":"Weather Online?","server":"14ac7daa.46bd22","version":1,"outputs":2,"halt_if":"unavailable","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"weather.weather","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":150,"y":1000,"wires":[[],["e5001880.327a38"]]},{"id":"a908afe6.cec2","type":"api-current-state","z":"28a0e125.e9aabe","name":"Weather Online?","server":"14ac7daa.46bd22","version":1,"outputs":2,"halt_if":"unavailable","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"weather.weather","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":490,"y":320,"wires":[[],["fa9bb71b.e6e0b8"]]},{"id":"f212371c.2afb98","type":"api-current-state","z":"28a0e125.e9aabe","name":"Weather Online?","server":"14ac7daa.46bd22","version":1,"outputs":2,"halt_if":"unavailable","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"weather.weather","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":170,"y":560,"wires":[[],["66377d47.3dd824"]]},{"id":"8f4a27c8.ba4ba8","type":"actionflows","z":"28a0e125.e9aabe","info":"Describe your action API here.","untilproptype":"num","proptype":"msg","name":"WaitIntercom","prop":"loop","untilprop":0,"until":"gt","loop":"none","scope":"global","perf":false,"seq":false,"x":1230,"y":340,"wires":[["6eee67be.8f0a58"]]},{"id":"8fd2707c.a9968","type":"api-current-state","z":"28a0e125.e9aabe","name":"Guest Mode","server":"14ac7daa.46bd22","version":1,"outputs":2,"halt_if":"False","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.guest_mode","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":310,"y":320,"wires":[["a908afe6.cec2"],[]]},{"id":"974b2985.4b9e48","type":"api-current-state","z":"28a0e125.e9aabe","name":"Guest Mode","server":"14ac7daa.46bd22","version":1,"outputs":2,"halt_if":"False","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.guest_mode","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":170,"y":500,"wires":[["f212371c.2afb98"],[]]},{"id":"58e770b8.32669","type":"api-current-state","z":"28a0e125.e9aabe","name":"Guest Mode","server":"14ac7daa.46bd22","version":1,"outputs":2,"halt_if":"False","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.guest_mode","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":110,"y":1080,"wires":[["225d27c3.69a148"],[]]},{"id":"eb98070c.708308","type":"server-state-changed","z":"28a0e125.e9aabe","name":"","server":"f702b95.b305548","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.dark_sky_minutely_summary","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":190,"y":1380,"wires":[["ebb2d018.2f996"]]},{"id":"90bddce9.1a469","type":"switch","z":"28a0e125.e9aabe","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"Possible","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":630,"y":1380,"wires":[[],["9f86f8.7421b908"]]},{"id":"9f86f8.7421b908","type":"change","z":"28a0e125.e9aabe","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"min.","fromt":"str","to":"min","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":1380,"wires":[["9d0c5986.fd0d68"]]},{"id":"6bd843f8.88cbac","type":"time-range-switch","z":"28a0e125.e9aabe","name":"Waking hours only","lat":"","lon":"","startTime":"06:45","endTime":"22:15","startOffset":0,"endOffset":0,"x":1150,"y":1380,"wires":[["971767f9.0a1718"],[]]},{"id":"971767f9.0a1718","type":"actionflows","z":"28a0e125.e9aabe","info":"Describe your action API here.","untilproptype":"num","proptype":"msg","name":"WaitIntercom","prop":"loop","untilprop":0,"until":"gt","loop":"none","scope":"global","perf":false,"seq":false,"x":870,"y":1300,"wires":[["5e60e346.01112c"]]},{"id":"5e60e346.01112c","type":"api-call-service","z":"28a0e125.e9aabe","name":"Set volume 40%","server":"f702b95.b305548","version":1,"debugenabled":false,"service_domain":"media_player","service":"volume_set","entityId":"media_player.living_room_speaker","data":"{\"volume_level\":\"0.40\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1060,"y":1300,"wires":[["15e527e.9f583d8"]]},{"id":"7dbb4966.abe818","type":"api-current-state","z":"28a0e125.e9aabe","name":"","server":"14ac7daa.46bd22","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.dark_sky_minutely_summary","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":270,"y":1300,"wires":[["90bddce9.1a469"]]},{"id":"173331.22c2fcd","type":"inject","z":"28a0e125.e9aabe","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":1240,"wires":[["7dbb4966.abe818"]]},{"id":"9d0c5986.fd0d68","type":"google-tts","z":"28a0e125.e9aabe","name":"","inputField":"payload","inputFieldType":"msg","outputField":"url","outputFieldType":"msg","languageField":"en","languageFieldType":"str","speedField":"1","speedFieldType":"num","x":980,"y":1380,"wires":[["6bd843f8.88cbac"]]},{"id":"ebb2d018.2f996","type":"api-current-state","z":"28a0e125.e9aabe","name":"Guest Mode","server":"14ac7daa.46bd22","version":1,"outputs":2,"halt_if":"False","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.guest_mode","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":490,"y":1380,"wires":[["90bddce9.1a469"],[]]},{"id":"14ac7daa.46bd22","type":"server","z":"","name":"Home Assistant","addon":true},{"id":"f702b95.b305548","type":"server","z":"","name":"Home Assistant","legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":false,"cacheJson":true}]
