Node Red Hassio Future Temps Flow
[{"id":"ec1d3079.f58a5","type":"debug","z":"d9fbb52e.9b86f8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":1160,"y":1360,"wires":[]},{"id":"332bc26f.9b699e","type":"ui_chart","z":"d9fbb52e.9b86f8","name":"","group":"5cf20e7d.cdc58","order":1,"width":"6","height":"6","label":"Temps For Next 24 Hr","chartType":"line","legend":"true","xformat":"auto","interpolate":"linear","nodata":"No Data","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1360,"y":1240,"wires":[[]]},{"id":"c7f2f8c.fdbc408","type":"api-render-template","z":"d9fbb52e.9b86f8","name":"0","server":"ec3ddc63.4af1d","template":"{{ as_timestamp(states.weather.weather.attributes.forecast[0].datetime) | timestamp_custom('%D %I:%M %p') }}\n\n\n","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":330,"y":320,"wires":[["9ab33b34.8e1888"]]},{"id":"b4055586.862748","type":"function","z":"d9fbb52e.9b86f8","name":"Chart data","func":"var m = {};\nvar d0 = global.get(\"d0\")\nvar d1 = global.get(\"d1\")\nvar d2 = global.get(\"d2\")\nvar d3 = global.get(\"d3\")\nvar d4 = global.get(\"d4\")\nvar d5 = global.get(\"d5\")\nvar d6 = global.get(\"d6\")\nvar d7 = global.get(\"d7\")\nvar d8 = global.get(\"d8\")\nvar d9 = global.get(\"d9\")\nvar d10 = global.get(\"d10\")\nvar d11 = global.get(\"d11\")\nvar d12 = global.get(\"d12\")\nvar d13 = global.get(\"d13\")\nvar d14 = global.get(\"d14\")\nvar d15 = global.get(\"d15\")\nvar d16 = global.get(\"d16\")\nvar d17 = global.get(\"d17\")\nvar d18 = global.get(\"d18\")\nvar d19 = global.get(\"d19\")\nvar d20 = global.get(\"d20\")\nvar d21 = global.get(\"d21\")\nvar d22 = global.get(\"d22\")\nvar d23 = global.get(\"d23\")\nvar d24 = global.get(\"d24\")\nvar t0 = global.get(\"t0\")\nvar t1 = global.get(\"t1\")\nvar t2 = global.get(\"t2\")\nvar t3 = global.get(\"t3\")\nvar t4 = global.get(\"t4\")\nvar t5 = global.get(\"t5\")\nvar t6 = global.get(\"t6\")\nvar t7 = global.get(\"t7\")\nvar t8 = global.get(\"t8\")\nvar t9 = global.get(\"t9\")\nvar t10 = global.get(\"t10\")\nvar t11 = global.get(\"t11\")\nvar t12 = global.get(\"t12\")\nvar t13 = global.get(\"t13\")\nvar t14 = global.get(\"t14\")\nvar t15 = global.get(\"t15\")\nvar t16 = global.get(\"t16\")\nvar t17 = global.get(\"t17\")\nvar t18 = global.get(\"t18\")\nvar t19 = global.get(\"t19\")\nvar t20 = global.get(\"t20\")\nvar t21 = global.get(\"t21\")\nvar t22 = global.get(\"t22\")\nvar t23 = global.get(\"t23\")\nvar t24 = global.get(\"t24\")\n\nm.labels = [d0, d1, d2, d3,d4, d5, d6, d7, d8, d9, d10, d11, d12, d13, d14, d15, d16, d17, d18, d19, d20, d21, d22, d23, d24];\nm.data = [[t0, t1, t2, t3,t4, t5, t6, t7, t8, t9, t10, t11, t12, t13, t14, t15, t16, t17, t18, t19, t20, t21, t22, t23, t24]];\nm.series = ['Temp'];\nreturn {payload:[m],topic:msg.topic};\n","outputs":1,"noerr":0,"x":1090,"y":1280,"wires":[["332bc26f.9b699e","ec1d3079.f58a5"]]},{"id":"9ab33b34.8e1888","type":"function","z":"d9fbb52e.9b86f8","name":"Global Variable Dec","func":"global.set(\"d0\",msg.payload);","outputs":1,"noerr":0,"x":540,"y":320,"wires":[[]]},{"id":"2448508b.2baa1","type":"api-render-template","z":"d9fbb52e.9b86f8","name":"1","server":"ec3ddc63.4af1d","template":"{{ as_timestamp(states.weather.weather.attributes.forecast[1].datetime) | timestamp_custom('%D %I:%M %p') }}\n\n\n","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":330,"y":360,"wires":[["8f2b53e3.69cb3"]]},{"id":"8f2b53e3.69cb3","type":"function","z":"d9fbb52e.9b86f8","name":"Global Variable Dec","func":"global.set(\"d1\",msg.payload);","outputs":1,"noerr":0,"x":520,"y":360,"wires":[[]]},{"id":"5a1f4713.9568a8","type":"inject","z":"d9fbb52e.9b86f8","name":"","topic":"","payload":"","payloadType":"date","repeat":"900","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":1320,"wires":[["2448508b.2baa1","c7f2f8c.fdbc408","ccc60117.793ab","138ab2b9.69c68d","f10d2854.418518","c873a393.69ee9","281c69c7.97de96","9e395b5a.df1998","558b3c6d.aefdf4","858be97b.6e6228","637b2bed.421894","81658d5e.4d1a4","c31fc77f.191d98","97cfdc38.31f37","e4570cbb.a7183","41f9c560.32b4bc","ede5529c.4d455","80c1fa09.714e38","7eab4171.682f7","ba078bde.391668","ed305842.008cf8","538fbf58.9efc3","46a3c01.921054","73c91a1a.69ca64","6493ce94.dda3","24c34748.641cb8","c2e263ea.24e41","cffc73bb.ad1a1","95221934.47f4a8","243e0c80.418c24","7f9cc23d.1fcdfc","a963de3e.1adc4","eb0478fb.31b9e8","dc77273e.3874b8","37e96add.4078e6","f8f3e9de.eb7fe8","6a5d7a5e.2904d4","aa1cc566.eebcb8","dbfb972.cad2a68","89806a2b.b90868","7ccb947a.4b928c","76c6ab9b.5e53b4","31da0672.d125fa","bf653014.a9bdc","af2cd673.4aa5e8","8934ef9.97fd71","4057917a.53bbe","ea8f6fe1.54094","ca42f47.bc51408","36ac8460.c8490c","18bb7514.08dcfb"]]},{"id":"ccc60117.793ab","type":"api-render-template","z":"d9fbb52e.9b86f8","name":"2","server":"ec3ddc63.4af1d","template":"{{ as_timestamp(states.weather.weather.attributes.forecast[2].datetime) | timestamp_custom('%D %I:%M %p') }}\n\n\n","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":330,"y":400,"wires":[["83723cf1.d65e6"]]},{"id":"83723cf1.d65e6","type":"function","z":"d9fbb52e.9b86f8","name":"Global Variable Dec","func":"global.set(\"d2\",msg.payload);","outputs":1,"noerr":0,"x":540,"y":400,"wires":[[]]},{"id":"138ab2b9.69c68d","type":"api-render-template","z":"d9fbb52e.9b86f8","name":"3","server":"ec3ddc63.4af1d","template":"{{ as_timestamp(states.weather.weather.attributes.forecast[3].datetime) | timestamp_custom('%D %I:%M %p') }}\n\n\n","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":330,"y":440,"wires":[["ee271cfd.d18e7"]]},{"id":"ee271cfd.d18e7","type":"function","z":"d9fbb52e.9b86f8","name":"Global Variable Dec","func":"global.set(\"d3\",msg.payload);","outputs":1,"noerr":0,"x":520,"y":440,"wires":[[]]},{"id":"f10d2854.418518","type":"api-render-template","z":"d9fbb52e.9b86f8","name":"4","server":"ec3ddc63.4af1d","template":"{{ as_timestamp(states.weather.weather.attributes.forecast[4].datetime) | timestamp_custom('%D %I:%M %p') }}\n\n\n","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":330,"y":480,"wires":[["f0e7ba13.3d7208"]]},{"id":"f0e7ba13.3d7208","type":"function","z":"d9fbb52e.9b86f8","name":"Global Variable Dec","func":"global.set(\"d4\",msg.payload);","outputs":1,"noerr":0,"x":540,"y":480,"wires":[[]]},{"id":"c873a393.69ee9","type":"api-render-template","z":"d9fbb52e.9b86f8","name":"5","server":"ec3ddc63.4af1d","template":"{{ as_timestamp(states.weather.weather.attributes.forecast[5].datetime) | timestamp_custom('%D %I:%M %p') }}\n\n\n","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":330,"y":520,"wires":[["3305278.457ebd8"]]},{"id":"3305278.457ebd8","type":"function","z":"d9fbb52e.9b86f8","name":"Global Variable Dec","func":"global.set(\"d5\",msg.payload);","outputs":1,"noerr":0,"x":520,"y":520,"wires":[[]]},{"id":"281c69c7.97de96","type":"api-render-template","z":"d9fbb52e.9b86f8","name":"6","server":"ec3ddc63.4af1d","template":"{{ as_timestamp(states.weather.weather.attributes.forecast[6].datetime) | timestamp_custom('%D %I:%M %p') }}\n\n\n","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":330,"y":560,"wires":[["1b1b8261.543d0e"]]},{"id":"1b1b8261.543d0e","type":"function","z":"d9fbb52e.9b86f8","name":"Global Variable Dec","func":"global.set(\"d6\",msg.payload);","outputs":1,"noerr":0,"x":500,"y":560,"wires":[[]]},{"id":"9e395b5a.df1998","type":"api-render-template","z":"d9fbb52e.9b86f8","name":"7","server":"ec3ddc63.4af1d","template":"{{ as_timestamp(states.weather.weather.attributes.forecast[7].datetime) | timestamp_custom('%D %I:%M %p') }}\n\n\n","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":330,"y":600,"wires":[["f6d3d6e7.ebc6f8"]]},{"id":"f6d3d6e7.ebc6f8","type":"function","z":"d9fbb52e.9b86f8","name":"Global Variable Dec","func":"global.set(\"d7\",msg.payload);","outputs":1,"noerr":0,"x":520,"y":600,"wires":[[]]},{"id":"558b3c6d.aefdf4","type":"api-render-template","z":"d9fbb52e.9b86f8","name":"8","server":"ec3ddc63.4af1d","template":"{{ as_timestamp(states.weather.weather.attributes.forecast[8].datetime) | timestamp_custom('%D %I:%M %p') }}\n\n\n","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":330,"y":640,"wires":[["c0a294c5.0016a8"]]},{"id":"c0a294c5.0016a8","type":"function","z":"d9fbb52e.9b86f8","name":"Global Variable Dec","func":"global.set(\"d8\",msg.payload);","outputs":1,"noerr":0,"x":520,"y":640,"wires":[[]]},{"id":"637b2bed.421894","type":"api-render-template","z":"d9fbb52e.9b86f8","name":"9","server":"ec3ddc63.4af1d","template":"{{ as_timestamp(states.weather.weather.attributes.forecast[9].datetime) | timestamp_custom('%D %I:%M %p') }}\n\n\n","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":330,"y":680,"wires":[["5b8929f1.460528"]]},{"id":"5b8929f1.460528","type":"function","z":"d9fbb52e.9b86f8","name":"Global Variable Dec","func":"global.set(\"d9\",msg.payload);","outputs":1,"noerr":0,"x":540,"y":680,"wires":[[]]},{"id":"858be97b.6e6228","type":"api-render-template","z":"d9fbb52e.9b86f8","name":"10","server":"ec3ddc63.4af1d","template":"{{ as_timestamp(states.weather.weather.attributes.forecast[10].datetime) | timestamp_custom('%D %I:%M %p') }}\n\n\n","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":330,"y":720,"wires":[["c28c0839.5ac318"]]},{"id":"c28c0839.5ac318","type":"function","z":"d9fbb52e.9b86f8","name":"Global Variable Dec","func":"global.set(\"d10\",msg.payload);","outputs":1,"noerr":0,"x":520,"y":720,"wires":[[]]},{"id":"81658d5e.4d1a4","type":"api-render-template","z":"d9fbb52e.9b86f8","name":"11","server":"ec3ddc63.4af1d","template":"{{ as_timestamp(states.weather.weather.attributes.forecast[11].datetime) | timestamp_custom('%D %I:%M %p') }}\n\n\n","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":330,"y":760,"wires":[["fd146a92.6b27a8"]]},{"id":"fd146a92.6b27a8","type":"function","z":"d9fbb52e.9b86f8","name":"Global Variable Dec","func":"global.set(\"d11\",msg.payload);","outputs":1,"noerr":0,"x":520,"y":760,"wires":[[]]},{"id":"c31fc77f.191d98","type":"api-render-template","z":"d9fbb52e.9b86f8","name":"12","server":"ec3ddc63.4af1d","template":"{{ as_timestamp(states.weather.weather.attributes.forecast[12].datetime) | timestamp_custom('%D %I:%M %p') }}\n\n\n","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":330,"y":800,"wires":[["4f34bce3.2ee7b4"]]},{"id":"4f34bce3.2ee7b4","type":"function","z":"d9fbb52e.9b86f8","name":"Global Variable Dec","func":"global.set(\"d12\",msg.payload);","outputs":1,"noerr":0,"x":540,"y":800,"wires":[[]]},{"id":"97cfdc38.31f37","type":"api-render-template","z":"d9fbb52e.9b86f8","name":"13","server":"ec3ddc63.4af1d","template":"{{ as_timestamp(states.weather.weather.attributes.forecast[13].datetime) | timestamp_custom('%D %I:%M %p') }}\n\n\n","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":330,"y":840,"wires":[["2e5d3bee.1e1184"]]},{"id":"2e5d3bee.1e1184","type":"function","z":"d9fbb52e.9b86f8","name":"Global Variable Dec","func":"global.set(\"d13\",msg.payload);","outputs":1,"noerr":0,"x":520,"y":840,"wires":[[]]},{"id":"e4570cbb.a7183","type":"api-render-template","z":"d9fbb52e.9b86f8","name":"14","server":"ec3ddc63.4af1d","template":"{{ as_timestamp(states.weather.weather.attributes.forecast[14].datetime) | timestamp_custom('%D %I:%M %p') }}\n\n\n","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":330,"y":880,"wires":[["a14e981.3362e68"]]},{"id":"a14e981.3362e68","type":"function","z":"d9fbb52e.9b86f8","name":"Global Variable Dec","func":"global.set(\"d14\",msg.payload);","outputs":1,"noerr":0,"x":540,"y":880,"wires":[[]]},{"id":"41f9c560.32b4bc","type":"api-render-template","z":"d9fbb52e.9b86f8","name":"15","server":"ec3ddc63.4af1d","template":"{{ as_timestamp(states.weather.weather.attributes.forecast[15].datetime) | timestamp_custom('%D %I:%M %p') }}\n\n\n","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":330,"y":920,"wires":[["e2015353.f6b38"]]},{"id":"e2015353.f6b38","type":"function","z":"d9fbb52e.9b86f8","name":"Global Variable Dec","func":"global.set(\"d15\",msg.payload);","outputs":1,"noerr":0,"x":520,"y":920,"wires":[[]]},{"id":"ede5529c.4d455","type":"api-render-template","z":"d9fbb52e.9b86f8","name":"16","server":"ec3ddc63.4af1d","template":"{{ as_timestamp(states.weather.weather.attributes.forecast[16].datetime) | timestamp_custom('%D %I:%M %p') }}\n\n\n","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":330,"y":960,"wires":[["695de2ce.0a6bac"]]},{"id":"695de2ce.0a6bac","type":"function","z":"d9fbb52e.9b86f8","name":"Global Variable Dec","func":"global.set(\"d16\",msg.payload);","outputs":1,"noerr":0,"x":500,"y":960,"wires":[[]]},{"id":"80c1fa09.714e38","type":"api-render-template","z":"d9fbb52e.9b86f8","name":"17","server":"ec3ddc63.4af1d","template":"{{ as_timestamp(states.weather.weather.attributes.forecast[17].datetime) | timestamp_custom('%D %I:%M %p') }}\n\n\n","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":330,"y":1000,"wires":[["4619b55f.c5992c"]]},{"id":"4619b55f.c5992c","type":"function","z":"d9fbb52e.9b86f8","name":"Global Variable Dec","func":"global.set(\"d17\",msg.payload);","outputs":1,"noerr":0,"x":520,"y":1000,"wires":[[]]},{"id":"7eab4171.682f7","type":"api-render-template","z":"d9fbb52e.9b86f8","name":"18","server":"ec3ddc63.4af1d","template":"{{ as_timestamp(states.weather.weather.attributes.forecast[18].datetime) | timestamp_custom('%D %I:%M %p') }}\n\n\n","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":330,"y":1040,"wires":[["2a556e26.a4b722"]]},{"id":"2a556e26.a4b722","type":"function","z":"d9fbb52e.9b86f8","name":"Global Variable Dec","func":"global.set(\"d18\",msg.payload);","outputs":1,"noerr":0,"x":520,"y":1040,"wires":[[]]},{"id":"ba078bde.391668","type":"api-render-template","z":"d9fbb52e.9b86f8","name":"19","server":"ec3ddc63.4af1d","template":"{{ as_timestamp(states.weather.weather.attributes.forecast[19].datetime) | timestamp_custom('%D %I:%M %p') }}\n\n\n","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":330,"y":1080,"wires":[["77c16bcf.afcaf4"]]},{"id":"77c16bcf.afcaf4","type":"function","z":"d9fbb52e.9b86f8","name":"Global Variable Dec","func":"global.set(\"d19\",msg.payload);","outputs":1,"noerr":0,"x":540,"y":1080,"wires":[[]]},{"id":"ed305842.008cf8","type":"api-render-template","z":"d9fbb52e.9b86f8","name":"20","server":"ec3ddc63.4af1d","template":"{{ as_timestamp(states.weather.weather.attributes.forecast[20].datetime) | timestamp_custom('%D %I:%M %p') }}\n\n\n","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":330,"y":1120,"wires":[["91f85e16.80495"]]},{"id":"91f85e16.80495","type":"function","z":"d9fbb52e.9b86f8","name":"Global Variable Dec","func":"global.set(\"d20\",msg.payload);","outputs":1,"noerr":0,"x":520,"y":1120,"wires":[[]]},{"id":"538fbf58.9efc3","type":"api-render-template","z":"d9fbb52e.9b86f8","name":"21","server":"ec3ddc63.4af1d","template":"{{ as_timestamp(states.weather.weather.attributes.forecast[21].datetime) | timestamp_custom('%D %I:%M %p') }}\n\n\n","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":330,"y":1160,"wires":[["57aebc20.664a34"]]},{"id":"57aebc20.664a34","type":"function","z":"d9fbb52e.9b86f8","name":"Global Variable Dec","func":"global.set(\"d21\",msg.payload);","outputs":1,"noerr":0,"x":520,"y":1160,"wires":[[]]},{"id":"46a3c01.921054","type":"api-render-template","z":"d9fbb52e.9b86f8","name":"22","server":"ec3ddc63.4af1d","template":"{{ as_timestamp(states.weather.weather.attributes.forecast[22].datetime) | timestamp_custom('%D %I:%M %p') }}\n\n\n","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":330,"y":1200,"wires":[["7b4dd051.97a58"]]},{"id":"7b4dd051.97a58","type":"function","z":"d9fbb52e.9b86f8","name":"Global Variable Dec","func":"global.set(\"d22\",msg.payload);","outputs":1,"noerr":0,"x":540,"y":1200,"wires":[[]]},{"id":"73c91a1a.69ca64","type":"api-render-template","z":"d9fbb52e.9b86f8","name":"23","server":"ec3ddc63.4af1d","template":"{{ as_timestamp(states.weather.weather.attributes.forecast[23].datetime) | timestamp_custom('%D %I:%M %p') }}\n\n\n","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":330,"y":1240,"wires":[["5d7bd8ac.a0b198"]]},{"id":"5d7bd8ac.a0b198","type":"function","z":"d9fbb52e.9b86f8","name":"Global Variable Dec","func":"global.set(\"d23\",msg.payload);","outputs":1,"noerr":0,"x":520,"y":1240,"wires":[[]]},{"id":"6493ce94.dda3","type":"api-render-template","z":"d9fbb52e.9b86f8","name":"24","server":"ec3ddc63.4af1d","template":"{{ as_timestamp(states.weather.weather.attributes.forecast[24].datetime) | timestamp_custom('%D %I:%M %p') }}\n\n\n","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":330,"y":1280,"wires":[["aa0a73.8357359"]]},{"id":"aa0a73.8357359","type":"function","z":"d9fbb52e.9b86f8","name":"Global Variable Dec","func":"global.set(\"d24\",msg.payload);","outputs":1,"noerr":0,"x":540,"y":1280,"wires":[[]]},{"id":"24c34748.641cb8","type":"api-render-template","z":"d9fbb52e.9b86f8","name":"0","server":"ec3ddc63.4af1d","template":"{{states.weather.weather.attributes.forecast[0].temperature}}\n\n\n","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":330,"y":1360,"wires":[["12d2dc9c.ea2673"]]},{"id":"12d2dc9c.ea2673","type":"function","z":"d9fbb52e.9b86f8","name":"Global Variable Dec","func":"global.set(\"t0\",msg.payload);","outputs":1,"noerr":0,"x":620,"y":1360,"wires":[[]]},{"id":"c2e263ea.24e41","type":"api-render-template","z":"d9fbb52e.9b86f8","name":"1","server":"ec3ddc63.4af1d","template":"{{states.weather.weather.attributes.forecast[1].temperature}}\n","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":330,"y":1400,"wires":[["d0a09201.4fea2"]]},{"id":"d0a09201.4fea2","type":"function","z":"d9fbb52e.9b86f8","name":"Global Variable Dec","func":"global.set(\"t1\",msg.payload);","outputs":1,"noerr":0,"x":600,"y":1400,"wires":[[]]},{"id":"cffc73bb.ad1a1","type":"api-render-template","z":"d9fbb52e.9b86f8","name":"2","server":"ec3ddc63.4af1d","template":"{{states.weather.weather.attributes.forecast[2].temperature}}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":330,"y":1440,"wires":[["c330e7b9.14e248"]]},{"id":"c330e7b9.14e248","type":"function","z":"d9fbb52e.9b86f8","name":"Global Variable Dec","func":"global.set(\"t2\",msg.payload);","outputs":1,"noerr":0,"x":620,"y":1440,"wires":[[]]},{"id":"95221934.47f4a8","type":"api-render-template","z":"d9fbb52e.9b86f8","name":"3","server":"ec3ddc63.4af1d","template":"{{states.weather.weather.attributes.forecast[3].temperature}}\n","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":330,"y":1480,"wires":[["8eaefdb1.e9a12"]]},{"id":"8eaefdb1.e9a12","type":"function","z":"d9fbb52e.9b86f8","name":"Global Variable Dec","func":"global.set(\"t3\",msg.payload);","outputs":1,"noerr":0,"x":600,"y":1480,"wires":[[]]},{"id":"243e0c80.418c24","type":"api-render-template","z":"d9fbb52e.9b86f8","name":"4","server":"ec3ddc63.4af1d","template":"{{states.weather.weather.attributes.forecast[4].temperature}}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":330,"y":1520,"wires":[["45ed4bdf.b5f154"]]},{"id":"45ed4bdf.b5f154","type":"function","z":"d9fbb52e.9b86f8","name":"Global Variable Dec","func":"global.set(\"t4\",msg.payload);","outputs":1,"noerr":0,"x":620,"y":1520,"wires":[[]]},{"id":"7f9cc23d.1fcdfc","type":"api-render-template","z":"d9fbb52e.9b86f8","name":"5","server":"ec3ddc63.4af1d","template":"{{states.weather.weather.attributes.forecast[5].temperature}}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":330,"y":1560,"wires":[["c81d67e5.11c8d8"]]},{"id":"c81d67e5.11c8d8","type":"function","z":"d9fbb52e.9b86f8","name":"Global Variable Dec","func":"global.set(\"t5\",msg.payload);","outputs":1,"noerr":0,"x":600,"y":1560,"wires":[[]]},{"id":"a963de3e.1adc4","type":"api-render-template","z":"d9fbb52e.9b86f8","name":"6","server":"ec3ddc63.4af1d","template":"{{states.weather.weather.attributes.forecast[6].temperature}}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":330,"y":1600,"wires":[["3fe9b2bd.ee8e2e"]]},{"id":"3fe9b2bd.ee8e2e","type":"function","z":"d9fbb52e.9b86f8","name":"Global Variable Dec","func":"global.set(\"t6\",msg.payload);","outputs":1,"noerr":0,"x":580,"y":1600,"wires":[[]]},{"id":"eb0478fb.31b9e8","type":"api-render-template","z":"d9fbb52e.9b86f8","name":"7","server":"ec3ddc63.4af1d","template":"{{states.weather.weather.attributes.forecast[7].temperature}}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":330,"y":1640,"wires":[["7a2f895e.0a2318"]]},{"id":"18bb7514.08dcfb","type":"api-render-template","z":"d9fbb52e.9b86f8","name":"8","server":"ec3ddc63.4af1d","template":"{{states.weather.weather.attributes.forecast[8].temperature}}\n","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":330,"y":1680,"wires":[["5bc60673.49d0d8"]]},{"id":"5bc60673.49d0d8","type":"function","z":"d9fbb52e.9b86f8","name":"Global Variable Dec","func":"global.set(\"t8\",msg.payload);","outputs":1,"noerr":0,"x":590,"y":1680,"wires":[[]]},{"id":"dc77273e.3874b8","type":"api-render-template","z":"d9fbb52e.9b86f8","name":"9","server":"ec3ddc63.4af1d","template":"{{states.weather.weather.attributes.forecast[9].temperature}}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":330,"y":1720,"wires":[["85a25004.a0c2f"]]},{"id":"85a25004.a0c2f","type":"function","z":"d9fbb52e.9b86f8","name":"Global Variable Dec","func":"global.set(\"t9\",msg.payload);","outputs":1,"noerr":0,"x":610,"y":1720,"wires":[[]]},{"id":"37e96add.4078e6","type":"api-render-template","z":"d9fbb52e.9b86f8","name":"10","server":"ec3ddc63.4af1d","template":"{{states.weather.weather.attributes.forecast[10].temperature}}\n\n","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":330,"y":1760,"wires":[["2068b125.273cee"]]},{"id":"2068b125.273cee","type":"function","z":"d9fbb52e.9b86f8","name":"Global Variable Dec","func":"global.set(\"t10\",msg.payload);","outputs":1,"noerr":0,"x":590,"y":1760,"wires":[[]]},{"id":"f8f3e9de.eb7fe8","type":"api-render-template","z":"d9fbb52e.9b86f8","name":"11","server":"ec3ddc63.4af1d","template":"{{states.weather.weather.attributes.forecast[11].temperature}}\n","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":330,"y":1800,"wires":[["bc6700ca.3c018"]]},{"id":"bc6700ca.3c018","type":"function","z":"d9fbb52e.9b86f8","name":"Global Variable Dec","func":"global.set(\"t11\",msg.payload);","outputs":1,"noerr":0,"x":600,"y":1800,"wires":[[]]},{"id":"6a5d7a5e.2904d4","type":"api-render-template","z":"d9fbb52e.9b86f8","name":"12","server":"ec3ddc63.4af1d","template":"{{states.weather.weather.attributes.forecast[12].temperature}}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":330,"y":1840,"wires":[["730ddf4a.fc8fd"]]},{"id":"730ddf4a.fc8fd","type":"function","z":"d9fbb52e.9b86f8","name":"Global Variable Dec","func":"global.set(\"t12\",msg.payload);","outputs":1,"noerr":0,"x":620,"y":1840,"wires":[[]]},{"id":"aa1cc566.eebcb8","type":"api-render-template","z":"d9fbb52e.9b86f8","name":"13","server":"ec3ddc63.4af1d","template":"{{states.weather.weather.attributes.forecast[13].temperature}}\n\n","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":330,"y":1880,"wires":[["1f4f6f8d.9ce29"]]},{"id":"1f4f6f8d.9ce29","type":"function","z":"d9fbb52e.9b86f8","name":"Global Variable Dec","func":"global.set(\"t13\",msg.payload);","outputs":1,"noerr":0,"x":600,"y":1880,"wires":[[]]},{"id":"dbfb972.cad2a68","type":"api-render-template","z":"d9fbb52e.9b86f8","name":"14","server":"ec3ddc63.4af1d","template":"{{states.weather.weather.attributes.forecast[14].temperature}}\n","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":330,"y":1920,"wires":[["919ed907.4a6e28"]]},{"id":"919ed907.4a6e28","type":"function","z":"d9fbb52e.9b86f8","name":"Global Variable Dec","func":"global.set(\"t14\",msg.payload);","outputs":1,"noerr":0,"x":620,"y":1920,"wires":[[]]},{"id":"89806a2b.b90868","type":"api-render-template","z":"d9fbb52e.9b86f8","name":"15","server":"ec3ddc63.4af1d","template":"{{states.weather.weather.attributes.forecast[15].temperature}}\n","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":330,"y":1960,"wires":[["5adef086.25c01"]]},{"id":"5adef086.25c01","type":"function","z":"d9fbb52e.9b86f8","name":"Global Variable Dec","func":"global.set(\"t15\",msg.payload);","outputs":1,"noerr":0,"x":600,"y":1960,"wires":[[]]},{"id":"7ccb947a.4b928c","type":"api-render-template","z":"d9fbb52e.9b86f8","name":"16","server":"ec3ddc63.4af1d","template":"{{states.weather.weather.attributes.forecast[16].temperature}}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":330,"y":2000,"wires":[["c767ef35.8b023"]]},{"id":"c767ef35.8b023","type":"function","z":"d9fbb52e.9b86f8","name":"Global Variable Dec","func":"global.set(\"t16\",msg.payload);","outputs":1,"noerr":0,"x":580,"y":2000,"wires":[[]]},{"id":"76c6ab9b.5e53b4","type":"api-render-template","z":"d9fbb52e.9b86f8","name":"17","server":"ec3ddc63.4af1d","template":"{{states.weather.weather.attributes.forecast[17].temperature}}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":330,"y":2040,"wires":[["7e1d299f.fa4ec8"]]},{"id":"7e1d299f.fa4ec8","type":"function","z":"d9fbb52e.9b86f8","name":"Global Variable Dec","func":"global.set(\"t17\",msg.payload);","outputs":1,"noerr":0,"x":600,"y":2040,"wires":[[]]},{"id":"31da0672.d125fa","type":"api-render-template","z":"d9fbb52e.9b86f8","name":"18","server":"ec3ddc63.4af1d","template":"{{states.weather.weather.attributes.forecast[18].temperature}}\n","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":330,"y":2080,"wires":[["848bfd97.155f2"]]},{"id":"848bfd97.155f2","type":"function","z":"d9fbb52e.9b86f8","name":"Global Variable Dec","func":"global.set(\"t18\",msg.payload);","outputs":1,"noerr":0,"x":600,"y":2080,"wires":[[]]},{"id":"bf653014.a9bdc","type":"api-render-template","z":"d9fbb52e.9b86f8","name":"19","server":"ec3ddc63.4af1d","template":"{{states.weather.weather.attributes.forecast[19].temperature}}\n\n","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":330,"y":2120,"wires":[["29354426.8df3ac"]]},{"id":"29354426.8df3ac","type":"function","z":"d9fbb52e.9b86f8","name":"Global Variable Dec","func":"global.set(\"t19\",msg.payload);","outputs":1,"noerr":0,"x":620,"y":2120,"wires":[[]]},{"id":"af2cd673.4aa5e8","type":"api-render-template","z":"d9fbb52e.9b86f8","name":"20","server":"ec3ddc63.4af1d","template":"{{states.weather.weather.attributes.forecast[20].temperature}}\n","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":330,"y":2160,"wires":[["dbefeabc.1087a8"]]},{"id":"dbefeabc.1087a8","type":"function","z":"d9fbb52e.9b86f8","name":"Global Variable Dec","func":"global.set(\"t20\",msg.payload);","outputs":1,"noerr":0,"x":600,"y":2160,"wires":[[]]},{"id":"8934ef9.97fd71","type":"api-render-template","z":"d9fbb52e.9b86f8","name":"21","server":"ec3ddc63.4af1d","template":"{{states.weather.weather.attributes.forecast[21].temperature}}\n\n","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":330,"y":2200,"wires":[["f40ea84e.f0bcb8"]]},{"id":"f40ea84e.f0bcb8","type":"function","z":"d9fbb52e.9b86f8","name":"Global Variable Dec","func":"global.set(\"t21\",msg.payload);","outputs":1,"noerr":0,"x":600,"y":2200,"wires":[[]]},{"id":"4057917a.53bbe","type":"api-render-template","z":"d9fbb52e.9b86f8","name":"22","server":"ec3ddc63.4af1d","template":"{{states.weather.weather.attributes.forecast[22].temperature}}\n","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":330,"y":2240,"wires":[["5a47bfdc.e371e"]]},{"id":"5a47bfdc.e371e","type":"function","z":"d9fbb52e.9b86f8","name":"Global Variable Dec","func":"global.set(\"t22\",msg.payload);","outputs":1,"noerr":0,"x":620,"y":2240,"wires":[[]]},{"id":"ea8f6fe1.54094","type":"api-render-template","z":"d9fbb52e.9b86f8","name":"23","server":"ec3ddc63.4af1d","template":"{{states.weather.weather.attributes.forecast[23].temperature}}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":330,"y":2280,"wires":[["454f6deb.ca7ba4"]]},{"id":"454f6deb.ca7ba4","type":"function","z":"d9fbb52e.9b86f8","name":"Global Variable Dec","func":"global.set(\"t23\",msg.payload);","outputs":1,"noerr":0,"x":600,"y":2280,"wires":[[]]},{"id":"ca42f47.bc51408","type":"api-render-template","z":"d9fbb52e.9b86f8","name":"24","server":"ec3ddc63.4af1d","template":"{{states.weather.weather.attributes.forecast[24].temperature}}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":330,"y":2320,"wires":[["613faa52.485864"]]},{"id":"613faa52.485864","type":"function","z":"d9fbb52e.9b86f8","name":"Global Variable Dec","func":"global.set(\"t24\",msg.payload);","outputs":1,"noerr":0,"x":620,"y":2320,"wires":[[]]},{"id":"36ac8460.c8490c","type":"delay","z":"d9fbb52e.9b86f8","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":800,"y":1320,"wires":[["b4055586.862748"]]},{"id":"7a2f895e.0a2318","type":"function","z":"d9fbb52e.9b86f8","name":"Global Variable Dec","func":"global.set(\"t7\",msg.payload);","outputs":1,"noerr":0,"x":590,"y":1640,"wires":[[]]},{"id":"5cf20e7d.cdc58","type":"ui_group","z":"","name":"Default","tab":"5c37654b.13a09c","disp":true,"width":"24","collapse":false},{"id":"ec3ddc63.4af1d","type":"server","z":"","name":"Home Assistant","legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":false,"cacheJson":true},{"id":"5c37654b.13a09c","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]
